*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse Files
.classpath
.factorypath
.project

# Android Files
mobile/android/actionbarsherlock/gen/*
mobile/android/actionbarsherlock/.settings/*
mobile/android/Epimelo/gen/*
mobile/android/Epimelo/.settings/*
mobile/android/Epimelo/.apt_generated/*
mobile/android/Epimelo/target/*
